.App {
  height: 100vh;
  width: 100vw;
}

.App-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10%;
}

.App-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .App-wrapper {
    width: 100%;
  }
  .App-contain {
    padding: 20px 10px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
